- title = content_for?(:title) ? yield(:title) : t(:title)
- description = "Shopline is a leading online marketplace, offering a wide range of products to cater to all your needs."

meta name="author" content="Venus Lumanglas"
meta name="description" content="#{description}"
meta name="keywords" content="shopline, shopping, marketplace, e-commerce, ecommerce, online store"

<!-- Facebook Open Graph data -->
meta property="og:type" content="website"
meta property="og:url" content="#{request.original_url}"
meta property="og:title" content="#{title}"
meta property="og:description" content="#{description}"
meta property="og:image" content="#{image_url("homepage.png")}"

<!-- Twitter Card data -->
meta name="twitter:card" content="summary"
meta name="twitter:url" content="#{request.original_url}"
meta name="twitter:title" content="#{title}"
meta name="twitter:description" content="#{description}"
meta name="twitter:image" content="#{image_url("homepage.png")}"
